@font-face {
    font-family: 'NanumHuman';
    src: url(https://campaign-cdn.pstatic.net/0/hangeul/2022/webfont/NanumHuman/NanumHumanLight.ttf) format("truetype"), 
	url(https://campaign-cdn.pstatic.net/0/hangeul/2022/webfont/NanumHuman/NanumHumanLight.otf) format("embedded-opentype"), 
	url(https://campaign-cdn.pstatic.net/0/hangeul/2022/webfont/NanumHuman/NanumHumanLight.woff) format("woff");
	font-weight: 200;
}

@font-face {
    font-family: 'NanumHuman';
    src: url(https://campaign-cdn.pstatic.net/0/hangeul/2022/webfont/NanumHuman/NanumHumanRegular.ttf) format("truetype"), 
	url(https://campaign-cdn.pstatic.net/0/hangeul/2022/webfont/NanumHuman/NanumHumanRegular.otf) format("embedded-opentype"), 
	url(https://campaign-cdn.pstatic.net/0/hangeul/2022/webfont/NanumHuman/NanumHumanRegular.woff) format("woff");
	font-weight: 400;
}

@font-face {
    font-family: 'NanumHuman';
    src: url(https://campaign-cdn.pstatic.net/0/hangeul/2022/webfont/NanumHuman/NanumHumanBold.ttf) format("truetype"), 
	url(https://campaign-cdn.pstatic.net/0/hangeul/2022/webfont/NanumHuman/NanumHumanBold.otf) format("embedded-opentype"), 
	url(https://campaign-cdn.pstatic.net/0/hangeul/2022/webfont/NanumHuman/NanumHumanBold.woff) format("woff");
	font-weight: 700;
}

@font-face {
	font-family: 'd2coding';
	src: url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2Coding.woff2') format('x-woff2'),
		url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2Coding.woff') format('woff');
	font-weight: 400;
}
@font-face {
	font-family: 'd2coding';
	src: url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2CodingBold.woff2') format('x-woff2'),
		url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2CodingBold.woff') format('woff');
	font-weight: 700;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff2) format('woff2'),
       url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format('woff'),
       url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff2) format('woff2'),
       url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format('woff'),
       url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
}

* {
	box-sizing: border-box;
}
body {
	font-family:'NanumHuman' !important;
	font-size: 9.5pt !important;
	line-height: 180%;
	margin: 0px 0px;
	padding: 0px;
	width: 1920px;
	letter-spacing: -0.5px;
	-ms-overflow-style: none; /* IE and Edge */
	background-color: #FCFCF0;
}

::-webkit-scrollbar {
	display: none;
}

h1 {
	background-color: #222222;
	color: #FCFCF0;		   /* 글자색 */
	width: 100%;				/* 너비 */
	margin: 0px; 				/* 바깥 여백*/
	padding: 1rem;				/* 안쪽 여백 */
	padding-top : 10px; 		/* 안쪽 여백 */
	padding-bottom : 10px;		/* 안쪽 여백 */
	font-family: "NanumSquareNeo";
}

.h1-right {
	float: right; 			/* 오른쪽 정렬 */
	padding-right: 10px; 	/* 오른쪽 여백 */
	padding-top: 7px;		/* 위쪽 여백 */
	letter-spacing: 0px;	/* 글자 사이 간격 */
	color: azure; 		   /* 글자색 */
	text-align: right;		/* 텍스트 정렬 */
	font-size: 10pt;		/* 글자 크기 */
	line-height: 160%;		/* 줄 간격 */	
	vertical-align: middle; /* 수직 정렬 */
}

.h1-right-img {
	border-radius: 70%; 
	width: 40px; 
	padding: 0px; 
	margin: 0px;
}

.h1-right-table {
	border: 2px solid transparent; /* 테이블 전체의 경계선 설정 */
	margin: 0px; 
	padding: 0px; 
	background-color: transparent;	/* 테이블 배경을 투명하게 설정 */
	border-collapse:collapse; 	/* 테이블 셀의 경계선을 겹치게 설정 */
	color: azure; 		   /* 글자색 */
	text-decoration: none;
}

.h1-image {
	border-radius: 70%;
	width: 40px;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}

.h1-menu-table {
	border-collapse:collapse; 	/* 테이블 셀의 경계선을 겹치게 설정 */
	border: 0px;				/* 테이블 전체의 경계선 설정 */
	width: 100%;				/* 테이블 너비 설정 */
}

.h1-menu-td {
	height: 24px; 
	color: #000000;
	border: 0px;
}

h2 {
	background-color: #222222;
	color: #FCFCF0;
	width: 100%;
	padding: 1rem;
	margin-top: 0px; /*위쪽 여백*/
    margin-bottom: 10px; /*아래쪽 여백*/
    margin-right: 0px; /*오른쪽 여백*/
    margin-left: 0px; /*왼쪽 여백*/
}

.login-input {
	font-size: 12pt;
	width: 200px;
	height: 50px;
	border: 1px solid gray;
	border-radius: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.menu-input {
	font-family: 'd2coding';
	font-size: 9.5pt;
	letter-spacing: -0.5px;
}

table {
	border-collapse:collapse;
	border-style:solid;
	/*width:780px; */
	border-top:#666666 2px solid;
	border-left:#EFEFEF 1px solid;
	border-right:#EFEFEF 1px solid;
	border-bottom:#BDBCBD 1px solid;
	margin-bottom:5px;
	margin-top:5px;
}
th {
	height:24px; 
	color: #000000; 
	background:#AAAAAA;
	vertical-align: middle;
	border-bottom:#E0DFE0 1px dotted; 
	border-right:#E0DFE0 1px dotted; 
	border-left:#E0DFE0 1px dotted; 
	/*border-right:#D7EAF0 1px solid; 
	border-bottom:#DCDCDC 1px solid; */
}
td {
	height:24px; 
	color: #000000;
	border-bottom:#E0DFE0 1px dotted; 
	border-left:#EFEFEF 1px solid;
	border-right:#EFEFEF 1px solid;
	padding-left:5px; 
	padding-right:5px;
	background-color: #FCFCF0;
}

img {
	vertical-align:middle;
}

.editableDiv {
	width: 100%;
	min-height: 120px;
	height: auto;
	border: 0px;
	padding: 0px;
	overflow-y: auto;
}

.editableDiv:focus {
	outline: none;
	background-color: antiquewhite;
}

a {
	text-decoration: none;
	color: inherit;
}

