@font-face {
    font-family: 'NanumHuman';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'NanumHuman';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFLight.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'NanumHuman';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFRegular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'NanumHuman';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'NanumHuman';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'NanumHuman';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFHeavy.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
@font-face {
  font-family: 'd2coding';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2Coding.eot');
  src: local('※'), local('D2Coding'),
       url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2Coding.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2Coding.woff2') format('x-woff2'),
       url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2Coding.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2Coding.ttf') format('truetype'),
       url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2Coding.svg') format('svg');
}
@font-face {
  font-family: 'd2coding';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2CodingBold.eot');
  src: local('※'), local('D2Coding Bold'),
       url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2CodingBold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2CodingBold.woff2') format('x-woff2'),
       url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2CodingBold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2CodingBold.ttf') format('truetype'),
       url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2CodingBold.svg') format('svg');
}

* {
	box-sizing: border-box;
}
body {
	font-family:'d2coding';
	font-size: 9pt;
	line-height: 180%;
	margin: 0px 0px;
	padding: 0px;
	width: 1920px;
	letter-spacing: -0.5px;
	-ms-overflow-style: none; /* IE and Edge */
}
::-webkit-scrollbar {
  display: none;
}

h1 {
	font-family: 'NanumHuman';
	background-color: rgb(6,0,96);
	color: #bdf5ff;
	width: 100%;
	padding: 1rem;
	margin-top: 0px; /*위쪽 여백*/
    margin-bottom: 10px; /*아래쪽 여백*/
    margin-right: 0px; /*오른쪽 여백*/
    margin-left: 0px; /*왼쪽 여백*/
	padding-top : 10px;
	padding-bottom : 10px;
}

h2 {
	font-family: 'NanumHuman';
	background-color: rgb(6,0,96);
	color: #bdf5ff;
	width: 100%;
	padding: 1rem;
	margin-top: 0px; /*위쪽 여백*/
    margin-bottom: 10px; /*아래쪽 여백*/
    margin-right: 0px; /*오른쪽 여백*/
    margin-left: 0px; /*왼쪽 여백*/
}

pre {
	font-family:'d2coding';
	font-size:8pt;
}

input {
	font-family:'d2coding';
	font-size: 8pt;
}

.login-input {
	font-family:'d2coding';
	font-size: 12pt;
	width: 200px;
	height: 50px;
	border: 1px solid gray;
	border-radius: 5px;
	margin-bottom: 5px;
	text-align: center;
}

xmp {
	font-family:'d2coding';
}

table {
	border-collapse:collapse;
	border-style:solid;
	/*width:780px; */
	border-top:#6AB4CC 2px solid;
	border-left:#EFEFEF 1px solid;
	border-right:#EFEFEF 1px solid;
	border-bottom:#BDBCBD 1px solid;
	margin-bottom:5px;
	margin-top:5px;
}
th {
	height:24px; color: #004888; 
	border-bottom:#E0DFE0 1px dotted; 
	border-right:#E0DFE0 1px dotted; 
	border-left:#E0DFE0 1px dotted; 
	/*border-right:#D7EAF0 1px solid; 
	border-bottom:#DCDCDC 1px solid; */
	background:#E7F3F7;
}
td {
	height:24px; color:#272727;
	border-bottom:#E0DFE0 1px dotted; 
	border-left:#EFEFEF 1px solid;
	border-right:#EFEFEF 1px solid;
	padding-left:5px; 
	padding-right:5px;
	letter-spacing:-1.5px;
}

nobr {
	font-family:'NanumHuman';
	font-size:9pt;
}

img {vertical-align:middle;}

ul {
	font-family: 'd2coding';
}

.editableDiv {
	width: 100%;
	min-height: 120px;
	height: auto;
	border: 0px;
	padding: 0px;
	overflow-y: auto;
}

.editableDiv:focus {
	outline: none;
	background-color: antiquewhite;
}

a:link {color: inherit; }


