@font-face{font-family:NanumHuman;
	src:
	url("/fonts/NanumHumanRegular.ttf") format("truetype")
}

@font-face{font-family:NanumHuman;
	font-weight:700;
	src:
	url("/fonts/NanumHumanBold.ttf") format("truetype")
}

@font-face{font-family:d2coding;
	src:
	url("/fonts/d2coding.ttf") format("truetype")
}

* {
	box-sizing: border-box;
}
body {
	font-family:'d2coding';
	font-size:9pt;
	line-height: 180%;
	margin: 0px 0px;
	padding: 0px;
	width: 1920px;
	letter-spacing: -0.5px;
	-ms-overflow-style: none; /* IE and Edge */
}
::-webkit-scrollbar {
  display: none;
}

h1 {
	font-family: 'NanumHuman';
	background-color: rgb(6,0,96);
	color: #bdf5ff;
	width: 100%;
	padding: 1rem;
	margin-top: 0px; /*위쪽 여백*/
    margin-bottom: 10px; /*아래쪽 여백*/
    margin-right: 0px; /*오른쪽 여백*/
    margin-left: 0px; /*왼쪽 여백*/
	padding-top : 10px;
	padding-bottom : 10px;
}

h2 {
	font-family: 'd2coding';
	background-color: rgb(6,0,96);
	color: #bdf5ff;
	width: 100%;
	padding: 1rem;
	margin-top: 0px; /*위쪽 여백*/
    margin-bottom: 10px; /*아래쪽 여백*/
    margin-right: 0px; /*오른쪽 여백*/
    margin-left: 0px; /*왼쪽 여백*/
}

pre {
	font-family:'d2coding';
	font-size:9pt;
}

textarea {
	font-family:'d2coding';
	font-size:9pt;
}

input {
	font-family:'d2coding';
	font-size:9pt;
}

.login-input {
	font-family:'d2coding';
	font-size:12pt;
	width: 300px;
	height: 50px;
	border: 1px solid gray;
	border-radius: 5px;
	margin-bottom: 5px;
}

xmp {
	font-family:'d2coding';
	font-size:9pt;
}

table {
	border-collapse:collapse;
	border-style:solid;
	/*width:780px; */
	border-top:#6AB4CC 2px solid;
	border-left:#EFEFEF 1px solid;
	border-right:#EFEFEF 1px solid;
	border-bottom:#BDBCBD 1px solid;
	margin-bottom:5px;
	margin-top:5px;
}
th {
	height:24px; color: #004888; 
	border-bottom:#E0DFE0 1px dotted; 
	border-right:#E0DFE0 1px dotted; 
	border-left:#E0DFE0 1px dotted; 
	/*border-right:#D7EAF0 1px solid; 
	border-bottom:#DCDCDC 1px solid; */
	background:#E7F3F7;
}
td {
	height:24px; color:#272727;
	border-bottom:#E0DFE0 1px dotted; 
	border-left:#EFEFEF 1px solid;
	border-right:#EFEFEF 1px solid;
	padding-left:5px; 
	padding-right:5px;
	letter-spacing:-1px;
}

nobr {
	font-family:'d2coding';
	font-size:9pt;
}

img {vertical-align:middle;}

a:link {color: inherit; }


